@{
    Layout = "_Layout";
}

<h2 class="mb-4">Lista de Productos</h2>

<!-- Botón para agregar modelo -->
<a href="/Product/Edit" class="btn btn-success mb-3">Agregar Producto</a>

<!-- Formulario de búsqueda con filtros -->
<form method="get" action="@Url.Action("Index")" class="row g-2 mb-3">

    <div class="col-md-3">
        <select name="BrandIds" id="BrandIds" class="form-control" multiple="multiple">
            <option value="">Todas las Marcas</option>
            @foreach (var brand in ViewBag.Brands)
            {
                // Convierte Context.Request.Query["BrandIds"] a una lista de IDs seleccionados
                var selectedBrands = Context.Request.Query["BrandIds"].ToString().Split(',').ToList();

                <option value="@brand.Id"
                        selected="@(selectedBrands.Contains(brand.Id.ToString()) ? true : false)">
                    @brand.Name
                </option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <select name="ModelProductIds" id="ModelProductIds" class="form-control" multiple="multiple">
            <option value="">Todas los Modelos</option>
            @foreach (var modelProduct in ViewBag.ModelProducts)
            {
                // Convierte Context.Request.Query["BrandIds"] a una lista de IDs seleccionados
                var selectedModels = Context.Request.Query["ModelProductIds"].ToString().Split(',').ToList();

                <option value="@modelProduct.Id"
                        selected="@(selectedModels.Contains(modelProduct.Id.ToString()) ? true : false)">
                    @modelProduct.Name
                </option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <select name="ColorIds" id="ColorIds" class="form-control" multiple="multiple">
            <option value="">Todas los colores</option>
            @foreach (var color in ViewBag.Colors)
            {
                // Convierte Context.Request.Query["BrandIds"] a una lista de IDs seleccionados
                var selectedColors = Context.Request.Query["ColorIds"].ToString().Split(',').ToList();

                <option value="@color.Id"
                        selected="@(selectedColors.Contains(color.Id.ToString()) ? true : false)">
                    @color.Name
                </option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <select name="SizeIds" id="SizeIds" class="form-control" multiple="multiple">
            <option value="">Todas los Talles</option>
            @foreach (var size in ViewBag.Sizes)
            {
                // Convierte Context.Request.Query["BrandIds"] a una lista de IDs seleccionados
                var selectedSizes = Context.Request.Query["SizeIds"].ToString().Split(',').ToList();

                <option value="@size.Id"
                        selected="@(selectedSizes.Contains(size.Id.ToString()) ? true : false)">
                    @size.Name
                </option>
            }
        </select>
    </div>

    <div class="col-md-3">
        <select name="ActivationState" class="form-control">
            <option value="">Todos</option>
            <option value="Active" selected="@(Context.Request.Query["ActivationState"] == "Active")">Activos</option>
            <option value="Inactive" selected="@(Context.Request.Query["ActivationState"] == "Inactive")">Inactivos</option>
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-primary w-100">Listar</button>
    </div>
</form>

<!-- Tabla con los productos -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Color</th>
            <th>Talle</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ModelProductName</td>
                <td>@product.BrandName</td>
                <td>
                    <div style="display: flex; align-items: center;">
                        <div style="width: 16px; height: 16px; background-color: @product.ColorHexCode; border: 1px solid #000; margin-right: 5px;"></div>
                        @product.ColorName
                    </div>
                </td>
                <td>@product.SizeNumber.ToString("0.#")</td>
                <td>@product.Price.ToString("0.#")</td>
                <td>@product.Stock.ToString("0.#")</td>

                <td>
                    @if (product.IsActive)
                    {
                        <span class="badge bg-success">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inactivo</span>
                    }
                </td>
                <td>
                    <a href="/Product/Edit/@product.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/Product/Duplicate/@product.Id" class="btn btn-info btn-sm">Duplicar</a>
                    @if (product.IsActive)
                    {
                        <a asp-action="UpdateStatus" asp-route-id="@product.Id" asp-route-isActive="@product.IsActive"
                           class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro que deseas desactivar a este producto?')">
                            Desactivar
                        </a>
                    }
                    else
                    {
                        <a asp-action="UpdateStatus" asp-route-id="@product.Id" asp-route-isActive="@product.IsActive"
                           class="btn btn-success btn-sm" onclick="return confirm('¿Seguro que deseas activar a este producto?')">
                            Activar
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Mensaje de error usando TempData -->
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<script>
    $(document).ready(function () {
        $('#BrandIds').select2({
            placeholder: "Seleccionar marcas",
            allowClear: true,
            width: '100%' // Esto asegura que el dropdown se expanda adecuadamente
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#ModelProductIds').select2({
            placeholder: "Seleccionar modelos",
            allowClear: true,
            width: '100%' // Esto asegura que el dropdown se expanda adecuadamente
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('#ColorIds').select2({
            placeholder: "Seleccionar colores",
            allowClear: true,
            width: '100%' // Esto asegura que el dropdown se expanda adecuadamente
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('#SizeIds').select2({
            placeholder: "Seleccionar talles",
            allowClear: true,
            width: '100%' // Esto asegura que el dropdown se expanda adecuadamente
        });
    });
</script>
